HOST="0.0.0.0"
PORT=1234
WORKERS=1

MLFLOW_TRACKING_URI=http://127.0.0.1:5000
MLFLOW_EXPERIMENT_NAME=f1-podium-predictor

PREFECT_API_URL=http://f1-prefect:4200/api
PREFECT_FLOW_NAME=f1-pipeline
PREFECT_CRON_SCHEDULE=0 18 * * 0

LGBM_HYPERPARAMETERS={"n_estimators":322,"learning_rate":0.012494804035659503,"num_leaves":101,"min_child_samples":79,"scale_pos_weight":1.5547239977881684,"subsample":0.6661143523512162,"colsample_bytree":0.8920300009438759,"objective":"binary","verbose":-1}
RETRAINING_CONFIG={"race_threshold":12}

LAKEFS_HOST=http://localhost:8000
LAKEFS_AUTH_ENCRYPT_SECRET_KEY=[empty]
LAKEFS_INSTALLATION_USER_NAME=admin
LAKEFS_INSTALLATION_ACCESS_KEY_ID=[empty]
LAKEFS_INSTALLATION_SECRET_ACCESS_KEY=[empty]

EVIDENTLY_WORKSPACE_URL=http://f1-evidently:8000
EVIDENTLY_PROJECT_NAME=f1-podium-predictor

LOG_LEVEL="INFO"