LAKEFS_HOST=http://localhost:8000
LAKEFS_AUTH_ENCRYPT_SECRET_KEY=[empty]
LAKEFS_INSTALLATION_USER_NAME=admin
LAKEFS_INSTALLATION_ACCESS_KEY_ID=[empty]
LAKEFS_INSTALLATION_SECRET_ACCESS_KEY=[empty]

HOST="0.0.0.0"
PORT=1234
WORKERS=1