LAKEFS_HOST=http://localhost:8000
LAKEFS_AUTH_ENCRYPT_SECRET_KEY=[empty]
LAKEFS_INSTALLATION_USER_NAME=admin
LAKEFS_INSTALLATION_ACCESS_KEY_ID=[empty]
LAKEFS_INSTALLATION_SECRET_ACCESS_KEY=[empty]

MLFLOW_TRACKING_URI=http://127.0.0.1:5000
MLFLOW_EXPERIMENT_NAME=f1-podium-predictor

TRAIN_N_ESTIMATORS=322
TRAIN_LEARNING_RATE=0.012494804035659503
TRAIN_NUM_LEAVES=101
TRAIN_MIN_CHILD_SAMPLES=79
TRAIN_SCALE_POS_WEIGHT=1.5547239977881684
TRAIN_SUBSAMPLE=0.6661143523512162
TRAIN_COLSAMPLE_BYTREE=0.8920300009438759

HOST="0.0.0.0"
PORT=1234
WORKERS=1

LOG_LEVEL="INFO"